@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.woff')
      format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.ttf')
      format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/ProximaNova-Regular.svg#rocketdesign-font')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

body {
  background: #f0efed;
  font-family: 'ProximaNova-Regular', Helvetica neue, sans-serif;
}

.containerCard {
  display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  grid-row-gap: 340px;
  grid-column-gap: 10px;
  margin-top: 15%;
  margin-bottom: 15%;
  justify-content: center;
}

.container {
  max-width: 220px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.card-profile {
  float: left;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 310px;

  background: #fff;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 5px rgba(black, 0.1);
}

.card-profile:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  box-shadow: 0 36px 64px -34px rgba(black, 1),
    0 16px 14px -14px rgba(black, 0.6), 0 22px 18px -18px rgba(black, 0.4),
    0 22px 38px -18px rgba(black, 1);
  transform: scaleX(0.7) scaleY(1.3) translateY(-15%);
  z-index: -1;
  opacity: 0.25;
}

.card-profile_visual {
  height: 50%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-profile_visual img {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.card-profile_user-infos {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 100px);
  color: #fff;
  text-align: center;
}

button {
  width: 104px;
  height: 40px;
  position: absolute;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  clear: both;
  top: calc(500% + 80px);
  overflow: hidden;
  background-color: #5cacee;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

button span {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 16pt;
  line-height: 2.3;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

button:before {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button:active:before {
  color: #5cacee;
}

button:hover span {
  -webkit-transform: translateY(-118%);
  -moz-transform: translateY(-118%);
  -ms-transform: translateY(-118%);
  transform: translateY(-118%);
}

button:before {
  left: -100%;
  top: 0;
}

button:hover:before {
  left: 0;
}

button:after {
  content: '';
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
}

.infos_name,
.infos_nick {
  display: block;
  clear: both;
  padding: 0.5em 0;
  padding-top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
  top: 8px;
  font-weight: 800;
}

.infos_nick {
  top: 32px;
  font-size: 14px;
  font-weight: 300;
}

.card-profile_user-stats {
  background: #fff;
  float: left;
  width: 100%;
  height: calc(100% - 50% + 2px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats-holder {
  position: absolute;
  width: 100%;
  top: calc(50% + 4em);
  display: flex;
}

.user-stats {
  flex: 1;
  text-align: center;
}

strong {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  color: #b3b1b2;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

label {
  font-size: 26px;
  color: #fff;
  padding: 0.5em 0;
  display: inline-block;
}

.product {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: 20pt;
  font-weight: bolder;
}
